* {
padding:0;
margin:0;
font-size: 40px;
 box-sizing: border-box;
}

.box-one{
  background-color: rgb(247, 134, 134);
  padding: 20px;
  height: 100px;
  width: 100px;
  border: 10px solid rgb(179, 114, 114);
  margin: 20px;
}

.box-two{
  background-color: rgb(134, 155, 247);
  padding: 20px;
  height: 100px;
  width: 100px;
  border: 10px solid rgb(114, 135, 179);
  margin: 20px;
}