/* Set background image of the school */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* replace `school.jpg` with the actual file name of your image */
  background-image: url("https://cdn.suwalls.com/wallpapers/male-celebrities/bruno-mars-28140-1920x1080.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  
  /* get background image from a url */

  background-size: cover;
  background-position: center;
   background-position: center 10px;
}
/* Title styling */
h1, h2, h3 {
  text-align: center;
  color: white;       /* change this color if you want */
  margin-top: 40px;
  text-shadow: 4px 4px 4px black;
}
/* Center the table */
table {
  margin: 40px auto;
  background-color: rgba(121, 181, 199, 0.699);   /* table background color */
  border-collapse: collapse;
  min-width: 400px;
}

/* Borders for table, header, and data cells */
table, th, td {
  border: 1px solid rgb(255, 255, 255);
}

/* Table header styling */
th {
  padding: 10px;
  background-color: #a33333;
}

/* Table cell styling */
td {
  padding: 8px 12px;
  text-align: left;
}